In [1]:
import pandas as pd
import numpy as np
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, Column, exc, text, Integer, Date,  PrimaryKeyConstraint, select, func
from sqlalchemy.dialects.postgresql import TEXT, DATE, insert
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, Float, Date
import os
import datetime
import requests
import pandas as pd
import logging
import random
from sqlalchemy import create_engine
import pandas as pd
import json
from taipy.gui import Gui
from taipy.gui import Gui, notify
import datetime
import pandas as pd
from sqlalchemy import create_engine, text, Table, MetaData
from taipy.gui import Gui
import psycopg2

In [2]:
#CREATING TABLE
# Set up a connection to database
DATABASE_URL = "postgresql://postgres:Sarigama1@localhost:5432/postgres"  
engine = create_engine(DATABASE_URL)


metadata = MetaData()

# Define the health_metrics table
health_metrics_table = Table(
    'health_metrics', metadata,
    Column('date', Date, primary_key=True),
    Column('sleep_hours', Float),
    Column('calorie_expenditure', Integer),
    Column('weight', Integer),
    Column('calorie_intake', Integer),
    Column('fasting_hours', Integer),
    Column('daily_lifescore', Float)
)

# Create the table in the database
try:
    metadata.create_all(engine)
    print("Table created successfully using SQLAlchemy")
except Exception as e:
    print(f"An error occurred: {e}")

# Dispose of the engine to close all connections
engine.dispose()

Table created successfully using SQLAlchemy

In [3]:
#FETCH DATA FOR HISTORICAL WATCH DATA

class FitBitAPIClient:
    def __init__(self, access_token, user_id='5FR3J5'):
        self.base_url = 'https://api.fitbit.com'
        self.user_id = user_id
        self.access_token = access_token
        self.headers = {"Authorization": f"Bearer {self.access_token}"}

    # Method for fetching sleep data from Fitbit API
    def fetch_sleep_data(self, start_date, end_date):
        url = f"{self.base_url}/1.2/user/{self.user_id}/sleep/date/{start_date}/{end_date}.json"
        response = requests.get(url, headers=self.headers)
        if response.status_code == 200:
            return response.json()
        else:
            logging.error(f"Failed to fetch sleep data: {response.text}")
            return None

    # Method for fetching calorie expenditure data from Fitbit API
    def fetch_calorie_expenditure_data(self, start_date, end_date):
        url = f"{self.base_url}/1.2/user/{self.user_id}/activities/calories/date/{start_date}/{end_date}.json"
        response = requests.get(url, headers=self.headers)
        if response.status_code == 200:
            return response.json()
        else:
            logging.error(f"Failed to fetch calorie data: {response.text}")
            return None

# Instantiate the Fitbit API client
access_token = 'eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyM1BRREgiLCJzdWIiOiI1RlIzSjUiLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJzY29wZXMiOiJyc29jIHJzZXQgcm94eSBybnV0IHJwcm8gcnNsZSByYWN0IHJsb2MgcnJlcyByd2VpIHJociBydGVtIiwiZXhwIjoxNzU1NTQ4MjMzLCJpYXQiOjE3MjQwMTIyMzN9.uH7tJ-m78eftEz0nMJBsCqKc7IVQMhk2GFSX5wgQQhk'  # Replace with your actual access token
user_id = '5FR3J5'
fitbit_client = FitBitAPIClient(access_token, user_id)

# Fetch calorie expenditure data and sleep data from 01/10/2024 to 20/10/2024
start_date = '2024-10-01'
end_date = '2024-11-28'
calorie_data = fitbit_client.fetch_calorie_expenditure_data(start_date, end_date)
sleep_data = fitbit_client.fetch_sleep_data(start_date, end_date)

# Create a DataFrame from the fetched calorie data first, then match sleep data accordingly
calorie_expenditure_list = []
calorie_dates = []

if calorie_data and 'activities-calories' in calorie_data:
    calorie_dict = {entry['dateTime']: int(entry['value']) for entry in calorie_data['activities-calories']}
    calorie_dates = list(calorie_dict.keys())
    calorie_expenditure_list = list(calorie_dict.values())

# Create DataFrame with calorie expenditure data first
df_manualextraction = pd.DataFrame({
    'date': calorie_dates,
    'calorie_expenditure': calorie_expenditure_list
})

# Convert the 'date' column to datetime
df_manualextraction['date'] = pd.to_datetime(df_manualextraction['date'])

# Create a DataFrame from the fetched sleep data and match it to the calorie data
sleep_records = []

if sleep_data and 'sleep' in sleep_data:
    for record in sleep_data['sleep']:
        date = record['dateOfSleep']
        sleep_minutes = record['minutesAsleep']
        sleep_records.append({'date': date, 'sleep_minutes': sleep_minutes})

# Aggregate sleep data by summing sleep minutes for the same date
df_sleep = pd.DataFrame(sleep_records)
if not df_sleep.empty:
    df_sleep['date'] = pd.to_datetime(df_sleep['date'])  # Ensure date is of datetime type
    df_sleep = df_sleep.groupby('date', as_index=False).sum()
    df_sleep['sleep_hours'] = round(df_sleep['sleep_minutes'] / 60, 2)  # Convert minutes to hours and round to 2 decimal places
    df_sleep = df_sleep[['date', 'sleep_hours']]

    # Merge the sleep data with the calorie expenditure data
    df_manualextraction = pd.merge(df_manualextraction, df_sleep, on='date', how='left')

# Sort the DataFrame by date in chronological order
df_manualextraction = df_manualextraction.sort_values(by='date').reset_index(drop=True)

In [4]:
df_manualextraction['sleep_hours'] = df_manualextraction['sleep_hours'].apply(
    lambda x: round(random.uniform(5, 9), 2) if pd.isna(x) else x
)

# Optional: Print the DataFrame to verify the replacement
print(df_manualextraction)

         date  calorie_expenditure  sleep_hours
0  2024-10-01                 1755         7.38
1  2024-10-02                 2265         6.73
2  2024-10-03                 2346         7.82
3  2024-10-04                 2229         7.62
4  2024-10-05                 2873         8.41
5  2024-10-06                 2483         9.12
6  2024-10-07                 2559         7.78
7  2024-10-08                 2520         8.97
8  2024-10-09                 2271         7.49
9  2024-10-10                 2127         8.68
10 2024-10-11                 2070         7.15
11 2024-10-12                 1747         5.76
12 2024-10-13                 1773         7.70
13 2024-10-14                 1801         8.32
14 2024-10-15                 1767         8.78
15 2024-10-16                 2596         8.77
16 2024-10-17                 2003         8.73
17 2024-10-18                 2566         8.30
18 2024-10-19                 1765        11.80
19 2024-10-20                 1834         8.22
20 2024-10-21                 2648         6.50
21 2024-10-22                 2399         6.73
22 2024-10-23                 1798         8.70
23 2024-10-24                 1747         8.91
24 2024-10-25                 1747         7.24
25 2024-10-26                 1747         6.89
26 2024-10-27                 2391         6.63
27 2024-10-28                 1934         7.50
28 2024-10-29                 1747         8.34
29 2024-10-30                 1771         6.51
30 2024-10-31                 1748         5.13
31 2024-11-01                 1747         5.01
32 2024-11-02                 1755         6.81
33 2024-11-03                 2136         7.53
34 2024-11-04                 1763         6.45
35 2024-11-05                 2163         6.73
36 2024-11-06                 1747         7.75
37 2024-11-07                 1747         7.01
38 2024-11-08                 1747         6.92
39 2024-11-09                 1747         6.71
40 2024-11-10                 1747         7.95
41 2024-11-11                 1747         8.89
42 2024-11-12                 1747         7.55
43 2024-11-13                 1747         8.27
44 2024-11-14                 1747         6.15
45 2024-11-15                 1747         8.68
46 2024-11-16                 1747         5.61
47 2024-11-17                 1747         8.47
48 2024-11-18                 1747         7.05
49 2024-11-19                 1747         7.30
50 2024-11-20                 1747         5.54
51 2024-11-21                 1747         8.95
52 2024-11-22                 1747         6.20
53 2024-11-23                 1747         7.69
54 2024-11-24                 1747         8.49
55 2024-11-25                 1753         8.40
56 2024-11-26                 1799         6.57
57 2024-11-27                 1747         7.44
58 2024-11-28                 1614         8.68

In [12]:
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import SQLAlchemyError
import pandas as pd
from sqlalchemy import (
    create_engine, MetaData, Table, Column, Integer, Float, Date, Time, text, select, update
)
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy.orm import Session
from taipy.gui import Gui, notify  # For Taipy GUI components

import datetime
from datetime import datetime, timedelta
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, Float, Date, Time, exc, text
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy.exc import SQLAlchemyError
from taipy.gui import Gui, notify
from sqlalchemy import update
from sqlalchemy import create_engine, select, MetaData, Table, Column, Integer, Float, Time
from sqlalchemy.orm import Session
from sqlalchemy import select, insert
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy.orm import sessionmaker
from sqlalchemy.exc import SQLAlchemyError


class GoalsManager:
    def __init__(self, db_url="postgresql://postgres:Sarigama1@localhost:5432/postgres"):
        self.engine = create_engine(db_url)
        self.metadata = MetaData()
        self.metadata.bind = self.engine
        self.Session = sessionmaker(bind=self.engine) 

        self.health_goals = Table(
            'health_goals', self.metadata,
            Column('id', Integer, primary_key=True, autoincrement=True),  
            Column('start_time', Time),  
            Column('end_time', Time),   
            Column('fasting_hours', Integer),  
            Column('sleep_hours', Float(precision=2)),  
            Column('calorie_deficit', Integer)       
        )
    
    def create_table(self):
        try:
            self.metadata.create_all(self.engine)
            print("Table created successfully using SQLAlchemy")
        except Exception as e:
            print(f"An error occurred: {e}")
    
    def update_health_goals(self, df):
        def parse_time(time_str):
            # Parse time, return None if the input is None or an empty string
            if time_str is None:  # Handles None and empty string
                return None
            return datetime.strptime(time_str, "%H:%M").time()
        
        def calculate_fasting_hours(start_time, end_time):
        
            if not start_time or not end_time:  # If either time is None
                return None

            # Combine times with today's date for calculation
            today = datetime.today()
            start_datetime = datetime.combine(today, start_time)
            end_datetime = datetime.combine(today, end_time)

            if end_datetime < start_datetime:  # Handle end_time on the next day
                end_datetime += timedelta(days=1)

            # Calculate the duration in hours
            fasting_duration = (end_datetime - start_datetime).seconds / 3600  # Convert seconds to hours
            return round(fasting_duration, 2)

        # Apply parsing to start_time and end_time columns
        df['start_time'] = df['start_time'].apply(parse_time)
        df['end_time'] = df['end_time'].apply(parse_time)

       
        row = df.iloc[0]

        # Calculate fasting hours dynamically
        fasting_hours = calculate_fasting_hours(row['start_time'], row['end_time'])

        session = self.Session()  # Start a session
        try:
            # Check if a row with id=1 exists
            select_stmt = select(self.health_goals).where(self.health_goals.c.id == 1)
            result = session.execute(select_stmt).fetchone()


            values = {
                'start_time': row['start_time'] if row['start_time'] not in [None, ''] else datetime.strptime("00:00", "%H:%M").time(),
                'end_time': row['end_time'] if row['end_time'] not in [None, ''] else datetime.strptime("00:00", "%H:%M").time(),
                'fasting_hours': fasting_hours, 
                'sleep_hours': float(row['sleep_hours']) if row.get('sleep_hours') not in [None, ''] else 0.0,
                'calorie_deficit': int(row['calorie_deficit']) if row.get('calorie_deficit') not in [None, ''] else 0
            }

            if result:  # Row exists, perform update
                stmt = update(self.health_goals).values(**values).where(self.health_goals.c.id == 1)
                session.execute(stmt)
            else:  # Row does not exist, perform insert
                stmt = insert(self.health_goals).values(id=1, **values)  
                session.execute(stmt)

            session.commit()  
            print("Goals updated successfully")
        except Exception as e:
            session.rollback() 
            print(f"An error occurred during update: {e}")
        finally:
            session.close()  # Always close the session
                
                
 

    def fetch_goals(self):
        session = self.Session()  # Start a session
        try:
            query = "SELECT start_time, end_time, fasting_hours, sleep_hours, calorie_deficit FROM health_goals"
            df = pd.read_sql_query(query, con=self.engine)

            if df.empty:
                print("No data found in the database.")
            return df
        except Exception as e:
            print(f"An error occurred while fetching goals: {e}")
            return pd.DataFrame()  # Return an empty DataFrame in case of an error
        finally:
            session.close()

    def fetch_fasting_window(self):
        fasting_window = [self.fetch_goals()['start_time'].iloc[0], self.fetch_goals()['end_time'].iloc[0]]
        fasting_start = fasting_window[0]
        fasting_end = fasting_window[1]
        if fasting_start is None or fasting_end is None:
            return None
        
        fasting_display = f"{fasting_start} to {fasting_end}"
        return fasting_display
        
      
    def calculate_fasting_score(self, hours_fasted, fasting_goal):
        if fasting_goal == 0 or fasting_goal is None:
            return None  
        else:
            score = hours_fasted / fasting_goal
            return min(score, 1)  # Cap the score at 1 (or 100%)
    
    def calculate_calorie_deficit_score(self, actual_deficit, deficit_goal):
        if deficit_goal == 0 or deficit_goal is None:
            return None 
        elif actual_deficit <= 0:
            return 0  # Score is 0 if there's a calorie surplus or no deficit
        else:
            score = actual_deficit / deficit_goal
            return min(score, 1)  # Cap the score at 1 (or 100%)

    def calculate_sleep_score(self, actual_sleep, sleep_goal):
        if sleep_goal == 0 or sleep_goal is None:
            return None  
        else:
            score = actual_sleep / sleep_goal
            return min(score, 1)  # Cap the score at 1 (or 100%)
        
    

    def arithmetic_mean_of_ratios(self, r1, r2, r3):
        ratios = [r for r in [r1, r2, r3] if r is not None]
    
        if not ratios:
            return None  # If all scores are None, return None
        
        # Calculate the arithmetic mean
        arithmetic_mean = sum(ratios) / len(ratios)
        return arithmetic_mean
    
#CHANGE THIS
    def calculate_lifescore(self, hours_fasted, calorie_deficit, hours_slept, fasting_goal, deficit_goal, sleep_goal):
        # Check for None in actual values
        if hours_fasted in (None, '') or calorie_deficit in (None, '') or hours_slept in (None, ''):
            print("One or more actual values are None. Returning None for life score.")
            return None

       
        # Calculate individual scores
        fasting_score = self.calculate_fasting_score(hours_fasted, fasting_goal)
        sleep_score = self.calculate_sleep_score(hours_slept, sleep_goal)
        deficit_score = self.calculate_calorie_deficit_score(calorie_deficit, deficit_goal)

        # Calculate the life score
        life_score = self.arithmetic_mean_of_ratios(fasting_score, sleep_score, deficit_score)*100

        return round(life_score, 2)

In [13]:


df_manualextraction['weight'] = [round(random.uniform(50, 55), 1) for _ in range(len(df_manualextraction))]
df_manualextraction['calorie_intake'] = [random.randint(1600, 2000) for _ in range(len(df_manualextraction))]
df_manualextraction['fasting_hours'] = [round(random.uniform(0, 16), 2) for _ in range(len(df_manualextraction))]  # Fasting hours as a decimal to two places
# Create an instance of the GoalsManager
goals_manager = GoalsManager()

# Set goals
fasting_goal = 16
deficit_goal = 500
sleep_goal = 8

# Calculate daily life score for each row
def calculate_row_lifescore(row):
    # Calculate calorie deficit (actual_deficit = calorie_expenditure - calorie_intake)
    actual_deficit = row['calorie_expenditure'] - row['calorie_intake']

    # Calculate life score using the GoalsManager method
    return goals_manager.calculate_lifescore(
        hours_fasted=row['fasting_hours'],
        calorie_deficit=actual_deficit,
        hours_slept=row['sleep_hours'],
        fasting_goal=fasting_goal,
        deficit_goal=deficit_goal,
        sleep_goal=sleep_goal
    )

# Apply the calculation to each row in the DataFrame
df_manualextraction['daily_lifescore'] = df_manualextraction.apply(calculate_row_lifescore, axis=1)

# Print the updated DataFrame
print(df_manualextraction)

         date  calorie_expenditure  sleep_hours  weight  calorie_intake  \
0  2024-10-01                 1755         7.38    51.2            1894
1  2024-10-02                 2265         6.73    54.0            1884
2  2024-10-03                 2346         7.82    50.6            1796
3  2024-10-04                 2229         7.62    51.3            1647
4  2024-10-05                 2873         8.41    53.5            1627
5  2024-10-06                 2483         9.12    54.1            1636
6  2024-10-07                 2559         7.78    52.7            1818
7  2024-10-08                 2520         8.97    52.0            1733
8  2024-10-09                 2271         7.49    54.4            1692
9  2024-10-10                 2127         8.68    51.2            1795
10 2024-10-11                 2070         7.15    53.1            1782
11 2024-10-12                 1747         5.76    51.5            1642
12 2024-10-13                 1773         7.70    54.1            1659
13 2024-10-14                 1801         8.32    53.7            1941
14 2024-10-15                 1767         8.78    52.3            1711
15 2024-10-16                 2596         8.77    54.6            1760
16 2024-10-17                 2003         8.73    51.1            1963
17 2024-10-18                 2566         8.30    52.7            1729
18 2024-10-19                 1765        11.80    54.5            1600
19 2024-10-20                 1834         8.22    50.3            1670
20 2024-10-21                 2648         6.50    53.1            1786
21 2024-10-22                 2399         6.73    50.7            1787
22 2024-10-23                 1798         8.70    52.2            1753
23 2024-10-24                 1747         8.91    51.9            1841
24 2024-10-25                 1747         7.24    54.8            1744
25 2024-10-26                 1747         6.89    54.4            1823
26 2024-10-27                 2391         6.63    54.3            1923
27 2024-10-28                 1934         7.50    52.0            1689
28 2024-10-29                 1747         8.34    50.5            1914
29 2024-10-30                 1771         6.51    54.9            1752
30 2024-10-31                 1748         5.13    55.0            1713
31 2024-11-01                 1747         5.01    50.6            1838
32 2024-11-02                 1755         6.81    50.2            1975
33 2024-11-03                 2136         7.53    53.5            1812
34 2024-11-04                 1763         6.45    55.0            1648
35 2024-11-05                 2163         6.73    53.0            1685
36 2024-11-06                 1747         7.75    53.7            1953
37 2024-11-07                 1747         7.01    51.8            1786
38 2024-11-08                 1747         6.92    52.0            1881
39 2024-11-09                 1747         6.71    54.4            1988
40 2024-11-10                 1747         7.95    51.2            1676
41 2024-11-11                 1747         8.89    53.1            1862
42 2024-11-12                 1747         7.55    50.3            1785
43 2024-11-13                 1747         8.27    50.5            1624
44 2024-11-14                 1747         6.15    51.8            1748
45 2024-11-15                 1747         8.68    50.3            1763
46 2024-11-16                 1747         5.61    52.5            1956
47 2024-11-17                 1747         8.47    51.2            1769
48 2024-11-18                 1747         7.05    53.3            1732
49 2024-11-19                 1747         7.30    50.1            1781
50 2024-11-20                 1747         5.54    51.5            1919
51 2024-11-21                 1747         8.95    50.9            1777
52 2024-11-22                 1747         6.20    53.5            1876
53 2024-11-23                 1747         7.69    53.3            1836
54 2024-11-24                 1747         8.49    50.5            1631
55 2024-11-25                 1753         8.40    54.0            1639
56 2024-11-26                 1799         6.57    51.4            1976
57 2024-11-27                 1747         7.44    52.7            1886
58 2024-11-28                 1614         8.68    51.8            1719

    fasting_hours  daily_lifescore
0            7.03            45.40
1            0.00            53.44
2            1.22            68.46
3            2.90            71.12
4            4.19            75.40
5           11.59            90.81
6            4.70            75.54
7           12.26            92.21
8            5.66            76.33
9            6.42            68.84
10          10.54            70.95
11           2.25            35.69
12           6.98            54.23
13          10.30            54.79
14           0.39            37.88
15           8.53            84.44
16           8.04            52.75
17          15.81            99.60
18           3.96            52.58
19          15.74            77.06
20          15.76            93.25
21          11.75            85.85
22          11.02            59.29
23           7.60            49.17
24          13.05            57.55
25          15.31            60.60
26           9.35            78.30
27           7.40            63.00
28           9.07            52.23
29           6.83            42.62
30           7.75            39.85
31          12.11            46.10
32          11.95            53.27
33           5.06            63.52
34           7.43            50.02
35           0.23            60.39
36           3.27            39.10
37           9.16            48.29
38           9.36            48.33
39          10.83            50.52
40          13.98            66.98
41           6.48            46.83
42           6.39            44.77
43           7.70            57.57
44          10.96            48.46
45           9.19            52.48
46           7.54            39.08
47          15.28            65.17
48           5.47            41.77
49          13.13            57.77
50           6.29            36.19
51           9.92            54.00
52           5.28            36.83
53           5.82            44.17
54          10.56            63.07
55           7.31            56.16
56           1.58            30.67
57           3.01            37.27
58           6.04            45.92

In [14]:
df_manualextraction

,date,calorie_expenditure,sleep_hours,weight,calorie_intake,fasting_hours,daily_lifescore
0,2024-10-01,1755,7.38,51.2,1894,7.03,45.40
1,2024-10-02,2265,6.73,54.0,1884,0.00,53.44
2,2024-10-03,2346,7.82,50.6,1796,1.22,68.46
3,2024-10-04,2229,7.62,51.3,1647,2.90,71.12
4,2024-10-05,2873,8.41,53.5,1627,4.19,75.40
5,2024-10-06,2483,9.12,54.1,1636,11.59,90.81
6,2024-10-07,2559,7.78,52.7,1818,4.70,75.54
7,2024-10-08,2520,8.97,52.0,1733,12.26,92.21
8,2024-10-09,2271,7.49,54.4,1692,5.66,76.33
9,2024-10-10,2127,8.68,51.2,1795,6.42,68.84
10,2024-10-11,2070,7.15,53.1,1782,10.54,70.95
11,2024-10-12,1747,5.76,51.5,1642,2.25,35.69
12,2024-10-13,1773,7.70,54.1,1659,6.98,54.23
13,2024-10-14,1801,8.32,53.7,1941,10.30,54.79
14,2024-10-15,1767,8.78,52.3,1711,0.39,37.88
15,2024-10-16,2596,8.77,54.6,1760,8.53,84.44
16,2024-10-17,2003,8.73,51.1,1963,8.04,52.75
17,2024-10-18,2566,8.30,52.7,1729,15.81,99.60
18,2024-10-19,1765,11.80,54.5,1600,3.96,52.58
19,2024-10-20,1834,8.22,50.3,1670,15.74,77.06
20,2024-10-21,2648,6.50,53.1,1786,15.76,93.25
21,2024-10-22,2399,6.73,50.7,1787,11.75,85.85
22,2024-10-23,1798,8.70,52.2,1753,11.02,59.29
23,2024-10-24,1747,8.91,51.9,1841,7.60,49.17
24,2024-10-25,1747,7.24,54.8,1744,13.05,57.55
25,2024-10-26,1747,6.89,54.4,1823,15.31,60.60
26,2024-10-27,2391,6.63,54.3,1923,9.35,78.30
27,2024-10-28,1934,7.50,52.0,1689,7.40,63.00
28,2024-10-29,1747,8.34,50.5,1914,9.07,52.23
29,2024-10-30,1771,6.51,54.9,1752,6.83,42.62
30,2024-10-31,1748,5.13,55.0,1713,7.75,39.85
31,2024-11-01,1747,5.01,50.6,1838,12.11,46.10
32,2024-11-02,1755,6.81,50.2,1975,11.95,53.27
33,2024-11-03,2136,7.53,53.5,1812,5.06,63.52
34,2024-11-04,1763,6.45,55.0,1648,7.43,50.02
35,2024-11-05,2163,6.73,53.0,1685,0.23,60.39
36,2024-11-06,1747,7.75,53.7,1953,3.27,39.10
37,2024-11-07,1747,7.01,51.8,1786,9.16,48.29
38,2024-11-08,1747,6.92,52.0,1881,9.36,48.33
39,2024-11-09,1747,6.71,54.4,1988,10.83,50.52
40,2024-11-10,1747,7.95,51.2,1676,13.98,66.98
41,2024-11-11,1747,8.89,53.1,1862,6.48,46.83
42,2024-11-12,1747,7.55,50.3,1785,6.39,44.77
43,2024-11-13,1747,8.27,50.5,1624,7.70,57.57
44,2024-11-14,1747,6.15,51.8,1748,10.96,48.46
45,2024-11-15,1747,8.68,50.3,1763,9.19,52.48
46,2024-11-16,1747,5.61,52.5,1956,7.54,39.08
47,2024-11-17,1747,8.47,51.2,1769,15.28,65.17
48,2024-11-18,1747,7.05,53.3,1732,5.47,41.77
49,2024-11-19,1747,7.30,50.1,1781,13.13,57.77
50,2024-11-20,1747,5.54,51.5,1919,6.29,36.19
51,2024-11-21,1747,8.95,50.9,1777,9.92,54.00
52,2024-11-22,1747,6.20,53.5,1876,5.28,36.83
53,2024-11-23,1747,7.69,53.3,1836,5.82,44.17
54,2024-11-24,1747,8.49,50.5,1631,10.56,63.07
55,2024-11-25,1753,8.40,54.0,1639,7.31,56.16
56,2024-11-26,1799,6.57,51.4,1976,1.58,30.67
57,2024-11-27,1747,7.44,52.7,1886,3.01,37.27
58,2024-11-28,1614,8.68,51.8,1719,6.04,45.92

In [16]:
# INSERT DATA INTO TABLE

from sqlalchemy import create_engine, inspect, MetaData, Table, Column, Integer, Float, Date

# Set up a connection 
DATABASE_URL = "postgresql://postgres:Sarigama1@localhost:5432/postgres"  # Replace with your credentials
engine = create_engine(DATABASE_URL)

# Check if the table already exists
inspector = inspect(engine)
table_exists = 'health_metrics' in inspector.get_table_names()

metadata = MetaData()

# Define the health_metrics table schema
health_metrics_table = Table(
    'health_metrics', metadata,
    Column('date', Date, primary_key=True),
    Column('sleep_hours', Float),
    Column('calorie_expenditure', Integer),
    Column('weight', Float),
    Column('calorie_intake', Integer),
    Column('fasting_hours', Float),
    Column('daily_lifescore', Float)
)

if not table_exists:
    # Create the table
    metadata.create_all(engine)
    print("Table 'health_metrics' created successfully.")
    
    # Insert the DataFrame into the  table in 
    df_manualextraction.to_sql('health_metrics', con=engine, if_exists='append', index=False)
    print("Data inserted successfully into the 'health_metrics' table.")
else:
    print("Table 'health_metrics' already exists. No data inserted.")

# Dispose of the engine to close all connections
engine.dispose()

Table 'health_metrics' created successfully.
Data inserted successfully into the 'health_metrics' table.

In [7]:
# FETCH DATA FROM TABLE
# Set up a connection
DATABASE_URL = "postgresql://postgres:Sarigama1@localhost:5432/postgres"  # Replace with your credentials
engine = create_engine(DATABASE_URL)

# Query the table 'health_metrics' and load it into a df
try:
    # Load the data from the 'health_metrics' table into a DataFrame, sorted by 'date' column
    health_data = pd.read_sql('SELECT * FROM health_metrics ORDER BY date ASC', con=engine)
    print("Data fetched successfully from the 'health_metrics' table.")
except Exception as e:
    print(f"An error occurred while fetching data: {e}")
finally:
    # Dispose of the engine to close the connection
    engine.dispose()

# Convert 'date' column to a string in 'YYYY-MM-DD' format to remove the time component
if 'date' in health_data.columns:
    health_data['date'] = health_data['date'].apply(lambda x: x.strftime('%Y-%m-%d'))  # Convert date to string format without time

# Calculate Calorie Deficit
health_data["calorie_deficit"] = health_data["calorie_expenditure"] - health_data["calorie_intake"]

# Rename DataFrame to df_fetcheddata
df_fetcheddata = pd.DataFrame(health_data)

# Function to handle the Submit Data button click
def submit_health_data(state):
    new_entry = {
        'date': state.entry_date.strftime('%Y-%m-%d') if state.entry_date else None,
        'weight': state.weight,
        'calorie_intake': state.calorie_intake,
        'fasting_hours': state.fasting_hours,
        'calorie_expenditure': None,  # Assuming calorie expenditure comes from the Fitbit device
        'sleep_hours': None,  # Assuming sleep hours also come from Fitbit
        'daily_lifescore': None
    }
  
    # Insert the new entry into the PostgreSQL database
    if new_entry['date']:
        try:
            engine = create_engine(DATABASE_URL)
            new_df = pd.DataFrame([new_entry])  # Convert the dictionary to a DataFrame
            new_df.to_sql('health_metrics', con=engine, if_exists='append', index=False)
            print("New data inserted successfully into the 'health_metrics' table.")
        except Exception as e:
            print(f"An error occurred while inserting data: {e}")
        finally:
            engine.dispose()

Data fetched successfully from the 'health_metrics' table.

In [8]:

# Database connection URL and credentials
DATABASE_URL = "postgresql://postgres:Sarigama1@localhost:5432/postgres"
host = "localhost"
dbname = "postgres"
user = "postgres"
password = "Sarigama1"

# Create SQLAlchemy engine and metadata
engine = create_engine(DATABASE_URL)
metadata = MetaData()

# Explicitly load the health_metrics table using autoload_with
health_metrics = Table('health_metrics', metadata, autoload_with=engine)

# Initialize variables
weight = 50.0
calorie_intake = 2000
fasting_hours = 16
entry_date = datetime.date.today()

# Initialize an empty DataFrame for manual entries
df_entry = pd.DataFrame(columns=["date", "calorie_expenditure", "sleep_hours", "weight", "calorie_intake", "fasting_hours", "daily_lifescore"])

# Function to upsert the data into the database using psycopg2

def upsert_health_metrics(df, engine):
    
    # Convert DataFrame to list of dictionaries for insertion
    record = df.to_dict(orient='records')[0]  # Extract the single record as a dictionary
    with engine.connect() as conn:
        stmt = insert(health_metrics).values(record)
        upsert_stmt = stmt.on_conflict_do_update(
            index_elements=['date'],
            set_={
                'weight': stmt.excluded.weight,
                'calorie_intake': stmt.excluded.calorie_intake,
                'fasting_hours': stmt.excluded.fasting_hours,
                'daily_lifescore': stmt.excluded.daily_lifescore
            }
        )
        try:
            conn.execute(upsert_stmt)
            conn.commit()
        except SQLAlchemyError as e:
            print(f"An error occurred: {e}")
            conn.rollback()

    print("Data upserted successfully into 'health_metrics'.")



# Function for submit action

def submit_data(state):
    try:
        with engine.connect() as connection:
            entry_date_str = state.entry_date.strftime("%Y-%m-%d")
            query = text("SELECT calorie_expenditure, sleep_hours FROM health_metrics WHERE date = :date_param")
            result = connection.execute(query, {"date_param": entry_date_str}).fetchone()

            # Extracting the result if it exists and handling cases if one of them is None
            
            calorie_expenditure, sleep_hours = (result if result else (None, None))

            # Create a new row and overwrite the DataFrame
            new_entry = pd.DataFrame([{
                'date': state.entry_date,
                'calorie_expenditure': calorie_expenditure,
                'sleep_hours': sleep_hours,
                'weight': state.weight,
                'calorie_intake': state.calorie_intake,
                'fasting_hours': state.fasting_hours,
                'daily_lifescore': None
            }])

            # Explicitly replace pd.NA and np.nan with None
            

            # Print updated DataFrame for verification
            print(new_entry)

            # Call the upsert function with the new DataFrame
            upsert_health_metrics(new_entry, engine)

    except Exception as e:
        print(f"An error occurred: {e}")

# Define the page layout with inputs and a submit button
page = """
<center><h1 style="color:#ADD8E6;">Health Tracking Dashboard</h1></center>
<|layout|columns=2|gap=20px|>
<|
<h3>Enter Entry Date</h3>
<|{entry_date}|date|label=Select a Date|>

<h3>Enter Weight (kg)</h3>
<|{weight}|input|type=number|label=Enter Weight (kg)|>

<h3>Enter Calorie Intake</h3>
<|{calorie_intake}|input|type=number|label=Enter Calorie Intake (kcal)|>

<h3>Enter Fasting Hours</h3>
<|{fasting_hours}|input|type=number|label=Enter Fasting Hours|>

<|Submit|button|on_action=submit_data|class_name=button|>
|>

<|layout|columns=1|gap=10px|>
<|>
<center><h2 style="color:#87CEEB;">Weight Over Time</h2></center>
<|{df_fetcheddata}|chart|type=line|x=date|y=weight|color=#4682B4|title="Weight Tracking"|>
|>

<|>
<center><h2 style="color:#87CEEB;">Calorie Intake vs. Expenditure</h2></center>
<|{df_fetcheddata}|chart|type=bar|x=date|y[1]=calorie_intake|y[2]=calorie_expenditure|color[1]=#6495ED|color[2]=#4169E1|title="Calorie Metrics"|>
|>


<|>
<center><h2 style="color:#87CEEB;">Calorie Deficit Over Time</h2></center>
<|{df_fetcheddata}|chart|type=line|x=date|y=calorie_deficit|color=#1E90FF|title="Calorie Deficit Tracking"|>
|>

<|>
<center><h2 style="color:#87CEEB;">Sleep Hours Over Time</h2></center>
<|{df_fetcheddata}|chart|type=line|x=date|y=sleep_hours|color=#00BFFF|title="Sleep Hours"|>
|>
"""


# Create the GUI instance with initial variables in the state
gui = Gui(page=page)

# Run the GUI only if the script is executed directly
if __name__ == "__main__":
    gui.run(
        title="Health Tracking Input Example",
        dark_mode=True,
        port=5001,
        state={
            "weight": weight,
            "entry_date": entry_date,
            "calorie_intake": calorie_intake,
            "fasting_hours": fasting_hours,
            "df_entry": df_entry
        }
    )

[2024-11-05 11:00:36][Taipy][INFO] Running in 'single_client' mode in notebook environment
[2024-11-05 11:00:40][Taipy][INFO]  * Server starting on http://127.0.0.1:5001

c:\Users\aksha\AppData\Local\Programs\Python\Python312\Lib\site-packages\gevent\hub.py:161: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

         date calorie_expenditure sleep_hours  weight  calorie_intake  \
0  2024-11-05                None        None    50.0            2000

   fasting_hours daily_lifescore
0             16            None
Data upserted successfully into 'health_metrics'.

In [9]:
#INSERTING A SINGLE ROW"
'''
import psycopg2
import pandas as pd

# Example DataFrame setup with all values as strings
data = {
    'date': ['2024-10-04'],
    'sleep_hours': ['8.00'],
    'calorie_expenditure': ['2000'],
    'weight': ['150.0'],
    'calorie_intake': ['1800'],
    'fasting_hours': ['16.00'],
    'daily_lifescore': ['8.10']
}

# Create DataFrame
df = pd.DataFrame(data)

# Convert columns to appropriate types, ensuring they are native Python types
df['date'] = pd.to_datetime(df['date']).dt.date
df['calorie_expenditure'] = df['calorie_expenditure'].astype(int).astype(object)  # Convert to int then to object
df['calorie_intake'] = df['calorie_intake'].astype(int).astype(object)
df['weight'] = df['weight'].astype(float).round(1).astype(object)
df['sleep_hours'] = df['sleep_hours'].astype(float).round(2).astype(object)
df['fasting_hours'] = df['fasting_hours'].astype(float).round(2).astype(object)
df['daily_lifescore'] = df['daily_lifescore'].astype(float).round(2).astype(object)

# Database connection parameters
host = "localhost"
dbname = "postgres"
user = "postgres"
password = "Sarigama1"

# Establishing the connection
conn = psycopg2.connect(
    dbname=dbname,
    user=user,
    password=password,
    host=host
)

# Create a new cursor
cur = conn.cursor()

# Prepare the SQL insert statement
sql = """
INSERT INTO health_metrics (date, sleep_hours, calorie_expenditure, weight, calorie_intake, fasting_hours, daily_lifescore)
VALUES (%s, %s, %s, %s, %s, %s, %s)
ON CONFLICT (date) DO UPDATE SET
    sleep_hours = EXCLUDED.sleep_hours,
    calorie_expenditure = EXCLUDED.calorie_expenditure,
    weight = EXCLUDED.weight,
    calorie_intake = EXCLUDED.calorie_intake,
    fasting_hours = EXCLUDED.fasting_hours,
    daily_lifescore = EXCLUDED.daily_lifescore;
"""

# Extract row to tuple and ensure all elements are native Python types
row_to_insert = tuple(df.iloc[0])

# Execute the SQL command
cur.execute(sql, row_to_insert)

# Commit the transaction
conn.commit()

# Close the cursor and connection
cur.close()
conn.close()

print("Data inserted successfully using psycopg2.")
'''

'\nimport psycopg2\nimport pandas as pd\n\n# Example DataFrame setup with all values as strings\ndata = {\n    \'date\': [\'2024-10-04\'],\n    \'sleep_hours\': [\'8.00\'],\n    \'calorie_expenditure\': [\'2000\'],\n    \'weight\': [\'150.0\'],\n    \'calorie_intake\': [\'1800\'],\n    \'fasting_hours\': [\'16.00\'],\n    \'daily_lifescore\': [\'8.10\']\n}\n\n# Create DataFrame\ndf = pd.DataFrame(data)\n\n# Convert columns to appropriate types, ensuring they are native Python types\ndf[\'date\'] = pd.to_datetime(df[\'date\']).dt.date\ndf[\'calorie_expenditure\'] = df[\'calorie_expenditure\'].astype(int).astype(object)  # Convert to int then to object\ndf[\'calorie_intake\'] = df[\'calorie_intake\'].astype(int).astype(object)\ndf[\'weight\'] = df[\'weight\'].astype(float).round(1).astype(object)\ndf[\'sleep_hours\'] = df[\'sleep_hours\'].astype(float).round(2).astype(object)\ndf[\'fasting_hours\'] = df[\'fasting_hours\'].astype(float).round(2).astype(object)\ndf[\'daily_lifescore\'] = df[\'daily_lifescore\'].astype(float).round(2).astype(object)\n\n# Database connection parameters\nhost = "localhost"\ndbname = "postgres"\nuser = "postgres"\npassword = "Sarigama1"\n\n# Establishing the connection\nconn = psycopg2.connect(\n    dbname=dbname,\n    user=user,\n    password=password,\n    host=host\n)\n\n# Create a new cursor\ncur = conn.cursor()\n\n# Prepare the SQL insert statement\nsql = """\nINSERT INTO health_metrics (date, sleep_hours, calorie_expenditure, weight, calorie_intake, fasting_hours, daily_lifescore)\nVALUES (%s, %s, %s, %s, %s, %s, %s)\nON CONFLICT (date) DO UPDATE SET\n    sleep_hours = EXCLUDED.sleep_hours,\n    calorie_expenditure = EXCLUDED.calorie_expenditure,\n    weight = EXCLUDED.weight,\n    calorie_intake = EXCLUDED.calorie_intake,\n    fasting_hours = EXCLUDED.fasting_hours,\n    daily_lifescore = EXCLUDED.daily_lifescore;\n"""\n\n# Extract row to tuple and ensure all elements are native Python types\nrow_to_insert = tuple(df.iloc[0])\n\n# Execute the SQL command\ncur.execute(sql, row_to_insert)\n\n# Commit the transaction\nconn.commit()\n\n# Close the cursor and connection\ncur.close()\nconn.close()\n\nprint("Data inserted successfully using psycopg2.")\n'

In [10]:
#SCHEDULER
#Refresh
#Classes
#HAndle wrong input with notifications
#daily lifescore

c:\Users\aksha\AppData\Local\Programs\Python\Python312\Lib\site-packages\gevent\hub.py:161: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t: