In [1]:
import pandas as pd
import numpy as np
import psycopg2
import sqlalchemy
from sqlalchemy import create_engine, MetaData, Table, Column, exc, text, Integer, Date,  PrimaryKeyConstraint, select, func
from sqlalchemy.dialects.postgresql import TEXT, DATE, insert
from sqlalchemy.exc import SQLAlchemyError
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, Float, Date
import os
import datetime
import requests
import pandas as pd
import logging
import random
from sqlalchemy import create_engine
import pandas as pd
import json
from taipy.gui import Gui
from taipy.gui import Gui, notify
import datetime
import pandas as pd
from sqlalchemy import create_engine, text, Table, MetaData
from taipy.gui import Gui
import psycopg2

In [2]:
#CREATING TABLE
# Set up a connection to database
DATABASE_URL = "postgresql://postgres:Sarigama1@localhost:5432/postgres"  
engine = create_engine(DATABASE_URL)


metadata = MetaData()

# Define the health_metrics table
health_metrics_table = Table(
    'health_metrics', metadata,
    Column('date', Date, primary_key=True),
    Column('sleep_hours', Float),
    Column('calorie_expenditure', Integer),
    Column('weight', Integer),
    Column('calorie_intake', Integer),
    Column('fasting_hours', Integer),
    Column('daily_lifescore', Float)
)

# Create the table in the database
try:
    metadata.create_all(engine)
    print("Table created successfully using SQLAlchemy")
except Exception as e:
    print(f"An error occurred: {e}")

# Dispose of the engine to close all connections
engine.dispose()

Table created successfully using SQLAlchemy

In [3]:
#FETCH DATA FOR HISTORICAL WATCH DATA

class FitBitAPIClient:
    def __init__(self, access_token, user_id='5FR3J5'):
        self.base_url = 'https://api.fitbit.com'
        self.user_id = user_id
        self.access_token = access_token
        self.headers = {"Authorization": f"Bearer {self.access_token}"}

    # Method for fetching sleep data from api
    def fetch_sleep_data(self, start_date, end_date):
        url = f"{self.base_url}/1.2/user/{self.user_id}/sleep/date/{start_date}/{end_date}.json"
        response = requests.get(url, headers=self.headers)
        if response.status_code == 200:
            return response.json()
        else:
            logging.error(f"Failed to fetch sleep data: {response.text}")
            return None

    # Method for fetching calorie expenditure data from api
    def fetch_calorie_expenditure_data(self, start_date, end_date):
        url = f"{self.base_url}/1.2/user/{self.user_id}/activities/calories/date/{start_date}/{end_date}.json"
        response = requests.get(url, headers=self.headers)
        if response.status_code == 200:
            return response.json()
        else:
            logging.error(f"Failed to fetch calorie data: {response.text}")
            return None

# Instantiate the Fitbit API client
access_token = 'eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyM1BRREgiLCJzdWIiOiI1RlIzSjUiLCJpc3MiOiJGaXRiaXQiLCJ0eXAiOiJhY2Nlc3NfdG9rZW4iLCJzY29wZXMiOiJyc29jIHJzZXQgcm94eSBybnV0IHJwcm8gcnNsZSByYWN0IHJsb2MgcnJlcyByd2VpIHJociBydGVtIiwiZXhwIjoxNzU1NTQ4MjMzLCJpYXQiOjE3MjQwMTIyMzN9.uH7tJ-m78eftEz0nMJBsCqKc7IVQMhk2GFSX5wgQQhk'  # Replace with your actual access token
user_id = '5FR3J5'
fitbit_client = FitBitAPIClient(access_token, user_id)

# Fetch calorie expenditure data and sleep data from date range
start_date = '2024-10-01'
end_date = '2024-10-20'
calorie_data = fitbit_client.fetch_calorie_expenditure_data(start_date, end_date)
sleep_data = fitbit_client.fetch_sleep_data(start_date, end_date)

# Create a DataFrame from the fetched calorie data first, then match sleep data accordingly
calorie_expenditure_list = []
calorie_dates = []

if calorie_data and 'activities-calories' in calorie_data:
    calorie_dict = {entry['dateTime']: int(entry['value']) for entry in calorie_data['activities-calories']}
    calorie_dates = list(calorie_dict.keys())
    calorie_expenditure_list = list(calorie_dict.values())

# Create DataFrame with calorie expenditure data first
df_manualextraction = pd.DataFrame({
    'date': calorie_dates,
    'calorie_expenditure': calorie_expenditure_list
})

# Convert the 'date' column to datetime
df_manualextraction['date'] = pd.to_datetime(df_manualextraction['date'])

# Create a DataFrame from the fetched sleep data and match it to the calorie data
sleep_records = []

if sleep_data and 'sleep' in sleep_data:
    for record in sleep_data['sleep']:
        date = record['dateOfSleep']
        sleep_minutes = record['minutesAsleep']
        sleep_records.append({'date': date, 'sleep_minutes': sleep_minutes})

# Aggregate sleep data by summing sleep minutes for the same date
df_sleep = pd.DataFrame(sleep_records)
if not df_sleep.empty:
    df_sleep['date'] = pd.to_datetime(df_sleep['date'])  # Ensure date is of datetime type
    df_sleep = df_sleep.groupby('date', as_index=False).sum()
    df_sleep['sleep_hours'] = round(df_sleep['sleep_minutes'] / 60, 2)  # Convert minutes to hours and round to 2 decimal places
    df_sleep = df_sleep[['date', 'sleep_hours']]

    # Merge the sleep data with the calorie expenditure data
    df_manualextraction = pd.merge(df_manualextraction, df_sleep, on='date', how='left')

# Sort the DataFrame by date in chronological order
df_manualextraction = df_manualextraction.sort_values(by='date').reset_index(drop=True)

In [4]:


df_manualextraction['weight'] = [round(random.uniform(50, 55), 1) for _ in range(len(df_manualextraction))]
df_manualextraction['calorie_intake'] = [random.randint(1600, 2000) for _ in range(len(df_manualextraction))]
df_manualextraction['fasting_hours'] = [round(random.uniform(0, 16), 2) for _ in range(len(df_manualextraction))]  # Fasting hours as a decimal to two places
df_manualextraction['daily_lifescore'] = None  # Leave the daily life score empty for now


print(df_manualextraction)

         date  calorie_expenditure  sleep_hours  weight  calorie_intake  \
0  2024-10-01                 1755          NaN    54.4            1779
1  2024-10-02                 2265         6.73    53.5            1719
2  2024-10-03                 2346         7.82    54.3            1997
3  2024-10-04                 2229         7.62    50.4            1880
4  2024-10-05                 2873          NaN    53.8            1779
5  2024-10-06                 2483         9.12    53.7            1724
6  2024-10-07                 2559         7.78    50.2            1833
7  2024-10-08                 2520         8.97    52.5            1790
8  2024-10-09                 2271          NaN    51.8            1745
9  2024-10-10                 2127         8.68    51.8            1662
10 2024-10-11                 2070          NaN    52.2            1645
11 2024-10-12                 1747          NaN    53.3            1647
12 2024-10-13                 1773          NaN    51.7            1773
13 2024-10-14                 1801         8.32    51.5            1674
14 2024-10-15                 1767         8.78    50.1            1878
15 2024-10-16                 2596         8.77    50.2            1912
16 2024-10-17                 2003         8.73    52.5            1899
17 2024-10-18                 2566         8.30    54.6            1835
18 2024-10-19                 1765        11.80    54.7            1652
19 2024-10-20                 1834         8.22    53.5            1694

    fasting_hours daily_lifescore
0            7.44            None
1           10.75            None
2            4.00            None
3           10.29            None
4            8.62            None
5            6.67            None
6            8.27            None
7            9.76            None
8            3.23            None
9            4.73            None
10           8.95            None
11           9.19            None
12           0.05            None
13           9.52            None
14           0.49            None
15          10.74            None
16           5.28            None
17          11.75            None
18           3.39            None
19           3.37            None

In [5]:
df_manualextraction

,date,calorie_expenditure,sleep_hours,weight,calorie_intake,fasting_hours,daily_lifescore
0,2024-10-01,1755,NaN,54.4,1779,7.44,None
1,2024-10-02,2265,6.73,53.5,1719,10.75,None
2,2024-10-03,2346,7.82,54.3,1997,4.00,None
3,2024-10-04,2229,7.62,50.4,1880,10.29,None
4,2024-10-05,2873,NaN,53.8,1779,8.62,None
5,2024-10-06,2483,9.12,53.7,1724,6.67,None
6,2024-10-07,2559,7.78,50.2,1833,8.27,None
7,2024-10-08,2520,8.97,52.5,1790,9.76,None
8,2024-10-09,2271,NaN,51.8,1745,3.23,None
9,2024-10-10,2127,8.68,51.8,1662,4.73,None
10,2024-10-11,2070,NaN,52.2,1645,8.95,None
11,2024-10-12,1747,NaN,53.3,1647,9.19,None
12,2024-10-13,1773,NaN,51.7,1773,0.05,None
13,2024-10-14,1801,8.32,51.5,1674,9.52,None
14,2024-10-15,1767,8.78,50.1,1878,0.49,None
15,2024-10-16,2596,8.77,50.2,1912,10.74,None
16,2024-10-17,2003,8.73,52.5,1899,5.28,None
17,2024-10-18,2566,8.30,54.6,1835,11.75,None
18,2024-10-19,1765,11.80,54.7,1652,3.39,None
19,2024-10-20,1834,8.22,53.5,1694,3.37,None

In [6]:
# INSERT DATA INTO TABLE

from sqlalchemy import create_engine, inspect, MetaData, Table, Column, Integer, Float, Date

# Set up a connection 
DATABASE_URL = "postgresql://postgres:Sarigama1@localhost:5432/postgres"  # Replace with your credentials
engine = create_engine(DATABASE_URL)

# Check if the table already exists
inspector = inspect(engine)
table_exists = 'health_metrics' in inspector.get_table_names()

metadata = MetaData()

# Define the health_metrics table schema
health_metrics_table = Table(
    'health_metrics', metadata,
    Column('date', Date, primary_key=True),
    Column('sleep_hours', Float),
    Column('calorie_expenditure', Integer),
    Column('weight', Float),
    Column('calorie_intake', Integer),
    Column('fasting_hours', Float),
    Column('daily_lifescore', Float)
)

if not table_exists:
    # Create the table
    metadata.create_all(engine)
    print("Table 'health_metrics' created successfully.")
    
    # Insert the DataFrame into the  table in 
    df_manualextraction.to_sql('health_metrics', con=engine, if_exists='append', index=False)
    print("Data inserted successfully into the 'health_metrics' table.")
else:
    print("Table 'health_metrics' already exists. No data inserted.")

# Dispose of the engine to close all connections
engine.dispose()

Table 'health_metrics' already exists. No data inserted.

In [ ]:
# FETCH DATA FROM TABLE
# Set up a connection
DATABASE_URL = "postgresql://postgres:Sarigama1@localhost:5432/postgres"  # Replace with your credentials
engine = create_engine(DATABASE_URL)

# Query the table 'health_metrics' and load it into a df
try:
    # Load the data from the 'health_metrics' table into a DataFrame, sorted by 'date' column
    health_data = pd.read_sql('SELECT * FROM health_metrics ORDER BY date ASC', con=engine)
    print("Data fetched successfully from the 'health_metrics' table.")
except Exception as e:
    print(f"An error occurred while fetching data: {e}")
finally:
    # Dispose of the engine to close the connection
    engine.dispose()

# Convert 'date' column to a string in 'YYYY-MM-DD' format to remove the time component
if 'date' in health_data.columns:
    health_data['date'] = health_data['date'].apply(lambda x: x.strftime('%Y-%m-%d'))  # Convert date to string format without time

# Calculate Calorie Deficit
health_data["calorie_deficit"] = health_data["calorie_expenditure"] - health_data["calorie_intake"]

# Rename DataFrame to df_fetcheddata
df_fetcheddata = pd.DataFrame(health_data)

# Function to handle the Submit Data button click
def submit_health_data(state):
    new_entry = {
        'date': state.entry_date.strftime('%Y-%m-%d') if state.entry_date else None,
        'weight': state.weight,
        'calorie_intake': state.calorie_intake,
        'fasting_hours': state.fasting_hours,
        'calorie_expenditure': None,  # Assuming calorie expenditure comes from the Fitbit device
        'sleep_hours': None,  # Assuming sleep hours also come from Fitbit
        'daily_lifescore': None
    }
  
    # Insert the new entry into the PostgreSQL database
    if new_entry['date']:
        try:
            engine = create_engine(DATABASE_URL)
            new_df = pd.DataFrame([new_entry])  # Convert the dictionary to a DataFrame
            new_df.to_sql('health_metrics', con=engine, if_exists='append', index=False)
            print("New data inserted successfully into the 'health_metrics' table.")
        except Exception as e:
            print(f"An error occurred while inserting data: {e}")
        finally:
            engine.dispose()

Data fetched successfully from the 'health_metrics' table.

In [ ]:

# Database connection URL and credentials
DATABASE_URL = "postgresql://postgres:Sarigama1@localhost:5432/postgres"
host = "localhost"
dbname = "postgres"
user = "postgres"
password = "Sarigama1"

# Create SQLAlchemy engine and metadata
engine = create_engine(DATABASE_URL)
metadata = MetaData()

# Explicitly load the health_metrics table using autoload_with
health_metrics = Table('health_metrics', metadata, autoload_with=engine)

# Initialize variables
weight = 50.0
calorie_intake = 2000
fasting_hours = 16
entry_date = datetime.date.today()

# Initialize an empty DataFrame for manual entries
df_entry = pd.DataFrame(columns=["date", "calorie_expenditure", "sleep_hours", "weight", "calorie_intake", "fasting_hours", "daily_lifescore"])

# Function to upsert the data into the database using psycopg2

def upsert_health_metrics(df):
    """
    Upserts a given DataFrame into the health_metrics table in the database.
    This function keeps 'None' values as NULL in the database.
    
    Args:
        df (pd.DataFrame): DataFrame with columns: 'date', 'calorie_expenditure', 'sleep_hours', 'weight', 
                           'calorie_intake', 'fasting_hours', 'daily_lifescore'.
    """
    # Convert columns to appropriate types, ensuring they are converted to Python native types
    df['date'] = pd.to_datetime(df['date']).dt.date
    df['calorie_expenditure'] = df['calorie_expenditure'].replace({np.nan: None}).astype('Int64')
    df['calorie_intake'] = df['calorie_intake'].replace({np.nan: None}).astype('Int64')
    df['weight'] = df['weight'].replace({np.nan: None}).astype(float)
    df['sleep_hours'] = df['sleep_hours'].replace({np.nan: None}).astype(float)
    df['fasting_hours'] = df['fasting_hours'].replace({np.nan: None}).astype(float)
    df['daily_lifescore'] = df['daily_lifescore'].replace({np.nan: None}).astype(float)

    # Database connection parameters
    host = "localhost"
    dbname = "postgres"
    user = "postgres"
    password = "Sarigama1"

    # Establishing the connection
    conn = psycopg2.connect(
        dbname=dbname,
        user=user,
        password=password,
        host=host
    )
    cur = conn.cursor()

    # Prepare the SQL upsert statement
    sql = """
    INSERT INTO health_metrics (date, sleep_hours, calorie_expenditure, weight, calorie_intake, fasting_hours, daily_lifescore)
    VALUES (%s, %s, %s, %s, %s, %s, %s)
    ON CONFLICT (date) DO UPDATE SET
        weight = EXCLUDED.weight,
        calorie_intake = EXCLUDED.calorie_intake,
        fasting_hours = EXCLUDED.fasting_hours,
        daily_lifescore = EXCLUDED.daily_lifescore;
    """

    # Iterate over each row in the DataFrame and upsert each row
    for _, row in df.iterrows():
        row_to_insert = tuple(row)
        # Execute the SQL command
        cur.execute(sql, row_to_insert)

    # Commit the transaction
    conn.commit()

    # Close the cursor and connection
    cur.close()
    conn.close()

    print("Data upserted successfully into 'health_metrics'.")


# Function for submit action
def submit_data(state):
    try:
        with engine.connect() as connection:
            entry_date_str = state.entry_date.strftime("%Y-%m-%d")
            query = text("SELECT calorie_expenditure, sleep_hours FROM health_metrics WHERE date = :date_param")
            result = connection.execute(query, {"date_param": entry_date_str}).fetchone()

            # Extract results or set to None if no data found
            calorie_expenditure, sleep_hours = (result if result else (None, None))

            # Create a new row and overwrite the DataFrame
            new_entry = pd.DataFrame([{
                'date': state.entry_date,
                'calorie_expenditure': calorie_expenditure,
                'sleep_hours': sleep_hours,
                'weight': state.weight,
                'calorie_intake': state.calorie_intake,
                'fasting_hours': state.fasting_hours,
                'daily_lifescore': float('nan')
            }])
            state.df_entry = new_entry

            # Update the GUI to reflect changes in df_entry
            state.df_entry = state.df_entry.copy()

            # Print updated DataFrame
            print(state.df_entry)

            # Call the upsert function with the new DataFrame
            upsert_health_metrics(state.df_entry)

    except Exception as e:
        print(f"An error occurred: {e}")

# Define the page layout with inputs and a submit button
page = """
<center><h1 style="color:#ADD8E6;">Health Tracking Dashboard</h1></center>
<|layout|columns=2|gap=20px|>
<|
<h3>Enter Entry Date</h3>
<|{entry_date}|date|label=Select a Date|>

<h3>Enter Weight (kg)</h3>
<|{weight}|input|type=number|label=Enter Weight (kg)|>

<h3>Enter Calorie Intake</h3>
<|{calorie_intake}|input|type=number|label=Enter Calorie Intake (kcal)|>

<h3>Enter Fasting Hours</h3>
<|{fasting_hours}|input|type=number|label=Enter Fasting Hours|>

<|Submit|button|on_action=submit_data|class_name=button|>
|>

<|layout|columns=1|gap=10px|>
<|>
<center><h2 style="color:#87CEEB;">Weight Over Time</h2></center>
<|{df_fetcheddata}|chart|type=line|x=date|y=weight|color=#4682B4|title="Weight Tracking"|>
|>

<|>
<center><h2 style="color:#87CEEB;">Calorie Intake vs. Expenditure</h2></center>
<|{df_fetcheddata}|chart|type=bar|x=date|y[1]=calorie_intake|y[2]=calorie_expenditure|color[1]=#6495ED|color[2]=#4169E1|title="Calorie Metrics"|>
|>


<|>
<center><h2 style="color:#87CEEB;">Calorie Deficit Over Time</h2></center>
<|{df_fetcheddata}|chart|type=line|x=date|y=calorie_deficit|color=#1E90FF|title="Calorie Deficit Tracking"|>
|>

<|>
<center><h2 style="color:#87CEEB;">Sleep Hours Over Time</h2></center>
<|{df_fetcheddata}|chart|type=line|x=date|y=sleep_hours|color=#00BFFF|title="Sleep Hours"|>
|>
"""


# Create the GUI instance with initial variables in the state
gui = Gui(page=page)

# Run the GUI only if the script is executed directly
if __name__ == "__main__":
    gui.run(
        title="Health Tracking Input Example",
        dark_mode=True,
        port=5001,
        state={
            "weight": weight,
            "entry_date": entry_date,
            "calorie_intake": calorie_intake,
            "fasting_hours": fasting_hours,
            "df_entry": df_entry
        }
    )

[2024-11-04 22:47:15][Taipy][INFO] Running in 'single_client' mode in notebook environment
[2024-11-04 22:47:19][Taipy][INFO]  * Server starting on http://127.0.0.1:5001

c:\Users\aksha\AppData\Local\Programs\Python\Python312\Lib\site-packages\gevent\hub.py:161: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

         date calorie_expenditure sleep_hours  weight  calorie_intake  \
0  2024-11-16                None        None    50.0            2000

   fasting_hours  daily_lifescore
0             16              NaN
An error occurred: can't adapt type 'NAType'
         date calorie_expenditure sleep_hours  weight  calorie_intake  \
0  2024-11-16                None        None    50.0            2000

   fasting_hours  daily_lifescore
0             16              NaN
An error occurred: can't adapt type 'NAType'

In [9]:
#INSERTING A SINGLE ROW"
'''
import psycopg2
import pandas as pd

# Example DataFrame setup with all values as strings
data = {
    'date': ['2024-10-04'],
    'sleep_hours': ['8.00'],
    'calorie_expenditure': ['2000'],
    'weight': ['150.0'],
    'calorie_intake': ['1800'],
    'fasting_hours': ['16.00'],
    'daily_lifescore': ['8.10']
}

# Create DataFrame
df = pd.DataFrame(data)

# Convert columns to appropriate types, ensuring they are native Python types
df['date'] = pd.to_datetime(df['date']).dt.date
df['calorie_expenditure'] = df['calorie_expenditure'].astype(int).astype(object)  # Convert to int then to object
df['calorie_intake'] = df['calorie_intake'].astype(int).astype(object)
df['weight'] = df['weight'].astype(float).round(1).astype(object)
df['sleep_hours'] = df['sleep_hours'].astype(float).round(2).astype(object)
df['fasting_hours'] = df['fasting_hours'].astype(float).round(2).astype(object)
df['daily_lifescore'] = df['daily_lifescore'].astype(float).round(2).astype(object)

# Database connection parameters
host = "localhost"
dbname = "postgres"
user = "postgres"
password = "Sarigama1"

# Establishing the connection
conn = psycopg2.connect(
    dbname=dbname,
    user=user,
    password=password,
    host=host
)

# Create a new cursor
cur = conn.cursor()

# Prepare the SQL insert statement
sql = """
INSERT INTO health_metrics (date, sleep_hours, calorie_expenditure, weight, calorie_intake, fasting_hours, daily_lifescore)
VALUES (%s, %s, %s, %s, %s, %s, %s)
ON CONFLICT (date) DO UPDATE SET
    sleep_hours = EXCLUDED.sleep_hours,
    calorie_expenditure = EXCLUDED.calorie_expenditure,
    weight = EXCLUDED.weight,
    calorie_intake = EXCLUDED.calorie_intake,
    fasting_hours = EXCLUDED.fasting_hours,
    daily_lifescore = EXCLUDED.daily_lifescore;
"""

# Extract row to tuple and ensure all elements are native Python types
row_to_insert = tuple(df.iloc[0])

# Execute the SQL command
cur.execute(sql, row_to_insert)

# Commit the transaction
conn.commit()

# Close the cursor and connection
cur.close()
conn.close()

print("Data inserted successfully using psycopg2.")
'''

'\nimport psycopg2\nimport pandas as pd\n\n# Example DataFrame setup with all values as strings\ndata = {\n    \'date\': [\'2024-10-04\'],\n    \'sleep_hours\': [\'8.00\'],\n    \'calorie_expenditure\': [\'2000\'],\n    \'weight\': [\'150.0\'],\n    \'calorie_intake\': [\'1800\'],\n    \'fasting_hours\': [\'16.00\'],\n    \'daily_lifescore\': [\'8.10\']\n}\n\n# Create DataFrame\ndf = pd.DataFrame(data)\n\n# Convert columns to appropriate types, ensuring they are native Python types\ndf[\'date\'] = pd.to_datetime(df[\'date\']).dt.date\ndf[\'calorie_expenditure\'] = df[\'calorie_expenditure\'].astype(int).astype(object)  # Convert to int then to object\ndf[\'calorie_intake\'] = df[\'calorie_intake\'].astype(int).astype(object)\ndf[\'weight\'] = df[\'weight\'].astype(float).round(1).astype(object)\ndf[\'sleep_hours\'] = df[\'sleep_hours\'].astype(float).round(2).astype(object)\ndf[\'fasting_hours\'] = df[\'fasting_hours\'].astype(float).round(2).astype(object)\ndf[\'daily_lifescore\'] = df[\'daily_lifescore\'].astype(float).round(2).astype(object)\n\n# Database connection parameters\nhost = "localhost"\ndbname = "postgres"\nuser = "postgres"\npassword = "Sarigama1"\n\n# Establishing the connection\nconn = psycopg2.connect(\n    dbname=dbname,\n    user=user,\n    password=password,\n    host=host\n)\n\n# Create a new cursor\ncur = conn.cursor()\n\n# Prepare the SQL insert statement\nsql = """\nINSERT INTO health_metrics (date, sleep_hours, calorie_expenditure, weight, calorie_intake, fasting_hours, daily_lifescore)\nVALUES (%s, %s, %s, %s, %s, %s, %s)\nON CONFLICT (date) DO UPDATE SET\n    sleep_hours = EXCLUDED.sleep_hours,\n    calorie_expenditure = EXCLUDED.calorie_expenditure,\n    weight = EXCLUDED.weight,\n    calorie_intake = EXCLUDED.calorie_intake,\n    fasting_hours = EXCLUDED.fasting_hours,\n    daily_lifescore = EXCLUDED.daily_lifescore;\n"""\n\n# Extract row to tuple and ensure all elements are native Python types\nrow_to_insert = tuple(df.iloc[0])\n\n# Execute the SQL command\ncur.execute(sql, row_to_insert)\n\n# Commit the transaction\nconn.commit()\n\n# Close the cursor and connection\ncur.close()\nconn.close()\n\nprint("Data inserted successfully using psycopg2.")\n'

c:\Users\aksha\AppData\Local\Programs\Python\Python312\Lib\site-packages\gevent\hub.py:161: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [10]:
#SCHEDULER
#Refresh
#Classes
#HAndle wrong input with notifications
#daily lifescore